.channelWrap {
  display: flex;
  flex-direction: column;
}

.channelHeader {
	width: 100%;
  height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nameWrap {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addIcon {
	margin-left: 20px;
  cursor: pointer;
	fill: var(--primary);
}

.itemsWrap {
	width: 100%;
	display: flex;
	flex-direction: column;
}
