doctype html
html.h-100(lang="en")
  head
    title= Title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // script(src=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body
    .container#chat
      // block content
    script(src=assetPath('main.js'))
