.channelItem {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.channelItem:hover {
	background-color: var(--accent-3);
	border-right: 2px solid var(--primary);
}

.activeChannel {
	color: var(--primary);
}
